/* style.css */
html, body {
  min-height: 100vh;
  min-width: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
/* charte-graph */
.charte-graphique h2 {
  color: #333;
}

.charte-graphique ul {
  list-style-type: none;
}

.charte-graphique li {
  margin-bottom: 10px;
}

.charte-graphique code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  font-family: monospace;
}

.icon-contenair div {
  display: inline-block;
  margin-right: 10px;
}

/* Ajoutez des styles supplémentaires pour les icônes SVG ici */

header {
  display: flex;
  min-width: 100vh;
  background-color: #333;
  color: rgb(189, 187, 187);
  text-align: center;
  align-items: center;
}
.header-contenair {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  gap:20px;
}
.header-titre {
  display: flex;
}
/* start lab */
.lab{
  display:flex;
}
.wirefram-config{
  display:flex;
  flex-direction: column;
}
.windows-lab-contenair{
  display:flex;
}
.header-lab{
  display:flex;
}
.cms{
  display:flex;
}
.main-lab{
  display:flex;
}
.windows-lab-contenair{
  display:flex;
  flex-direction: column;
}
.envdevops{
  display: flex;

}
.dev-env{
  display:flex;
  width: 100%;
  flex-direction: column;
}
.flex-r{
  display: flex;
  flex-direction: row;
  width: 300px;
  background: azure;
}
.flex-c{
  display:flex;
  flex-direction: column;
  background: aquamarine;
  height: 100px;
  width: 10px;
}
.ln {
  display: flex;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  background: aqua;
}
.footer-lab{
  display:flex;
}
#sommaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  gap: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.sommaire-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  border:2px solid;
  border-radius: 5%;
  border-color: #003A68;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #eee;
}

.menu-circl-centent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  margin-bottom: 20px;
}
.lab-circl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eee;
}
.icon-contenair {
  display: flex;
  justify-content: row;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 20px;
}
/* Styles pour les sections */
section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.mdContainer {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.mdContainer h1, .mdContainer h2 {
  color: #333;
}

.mdContainer ul {
  list-style-type: none;
}

.mdContainer ul li {
  margin-bottom: 10px;
}

.mdContainer ul li strong {
  color: #0056b3;
}

.cours-content {
  display: flex;
  justify-content: space-between;
}
#contenuCours {
  width: 90%;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.markdown-contenu {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.markdown-contenu h1, .markdown-contenu h2, .markdown-contenu h3 {
  color: #333;
}

.markdown-contenu p {
  color: #666;
}


h2, h3 {
  margin: 0 0 10px 0;
}

p {
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
