.js-color {
    color: #c59608; // couleur pour JS
}


// Variable js
.var {
    color: #44c508;
}
.let {
    color: #339207;
}
.const {
    color: #1a4a03;
}

// chaine de caractère
.devices {
    color: violet;
}


// commentaire js 
.commit {
    color:rgb(5, 141, 14);
}


// operator js

.condition {
    color:red;
}
.fonction {
    color:red;
}
.event {
    color:red;
}
