pre {
    border-radius: 13px;
    padding: 10px;
    margin: 20px;
    background-color: black;
}

.console {
    display:block;
    color:white;
    border-radius:0;
    border: 1px solid yellow;
    padding: 3px;
    margin-top: 20px;
    background-color: #413f3f;
}